@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Pacifico&display=swap');

body {
    background-color: #ffa701;
    margin: 3em
}

#site-title {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 7em;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1em;
}

#subtitle-discription {
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.title-container-rel {
    position: relative;
    height: 100%
}

.title-container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70%;
}